body{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topscore-container{

    display:inline;
}
.topscore-container__topscore{

    display:inline;
}