@use "./_variables.scss" as *;


body{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    @media (max-width: 800px){
    canvas{
        
        height: 80%;
        width: 80%;
    }
}

}



header{
.title{
    font-family: $mainFont;
}

.score-text{

    display:inline;
    font-family: $mainFont;


}

.score-text__number{

    display:inline;
    font-family: $mainFont;

}

}
.button-container{

    display: flex;
    margin-top:2rem;
    width: 50%;
    justify-content: space-around;

    .speed-container{

        display: flex;
        flex-direction: column;
        gap:1rem;

.button-container__increase-speed{
    font-family: $mainFont;
    border: none;
    background-color: white;
    font-size: 1rem;
}

.button-container__decrease-speed{
    font-family: $mainFont;
    border: none;
    background-color: white;
    font-size: 1rem;
}

    }


.button-container__restart{
    font-family: $mainFont;
    font-size: 1.5rem;
    border: none;
    background-color: white;
    

}



}
